<%= form_with(model: especialidad) do |form| %>
  <% if especialidad.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(especialidad.errors.count, "error") %> prohibited this especialidad from being saved:</h2>

      <ul>
        <% especialidad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%# form.text_field :name %>
    <%= form.select :name, List.pluck(:name, :id) %>
  </div>

  <div>
    <%= form.text_field :doctor_id, value: current_doctor.id, type: "hidden" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary btnSubmit" %>
  </div>
<% end %>
