<p style="color: green"><%= notice %></p>

<%= render @especialidad %>

<div>
  <%= link_to "Edit", edit_especialidad_path(@especialidad) %> |
  <%= link_to "Back", especialidads_path %>

  <%= button_to "Destroy", @especialidad, method: :delete, class:"btnD btn btn-danger" %>
</div>
