<p style="color: green"><%= notice %></p>

<%= render @especialidad %>

<div>
  <%= link_to "Edit this especialidad", edit_especialidad_path(@especialidad) %> |
  <%= link_to "Back to especialidads", especialidads_path %>

  <%= button_to "Destroy this especialidad", @especialidad, method: :delete %>
</div>
